<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="ACCESS_TOKEN_EXPIRE_MINUTES" value="15"/>
        <env name="REFRESH_TOKEN_EXPIRE_DAYS" value="7"/>
        <env name="RESERVATION_GRACE_MINUTES" value="15"/>
        <env name="CORS_ORIGINS" value="http://localhost:3000"/>
        <env name="DATABASE_URL" value="postgresql://vayno:vayno@127.0.0.1:5432/vayno_test?serverVersion=16&amp;charset=utf8"/>
        <env name="APP_SECRET" value="test-secret-key"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
